PORT=3001
FRONTEND_ORIGIN=http://localhost:3000

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SYNCHRONIZE=false
DB_SSL=false
DB_SSL_CA_PATH=

JWT_SECRET=
JWT_EXPIRES_IN=8h

ADMIN_NOMBRE_COMPLETO=
ADMIN_CORREO=
ADMIN_TELEFONO=
ADMIN_PASSWORD=
